/* Base styles */
@font-face {
  font-family: Cyber;
  src: url("https://assets.codepen.io/605876/Blender-Pro-Bold.otf");
  font-display: swap;
}


body{
  display: flex;
  margin: 0px;
}

.myVideo {
  position: fixed;
  right: 0;
  bottom: -1;
  min-width: 100%;
  min-height: 100%;
}

.profileDiv{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.pPicture {
  min-width: 200px;
  height: 300px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.navButton{ 
  margin-bottom: 25px; 
}

.navBar{
  margin: 10px;
  position: relative;
  font-size: 0.9em;
  font-family: sans-serif;
  box-shadow: 0 0 50px purple;
  backdrop-filter: blur(3px);
  padding: 12px 15px;
  text-align: left;
  display: block;
  width: 300px;
  height: 100%;
}

.navSociales{
  background-color: aqua;
  display: block;
  color: white;
  width: 100%;
}

.navIcon{
  height: 25px;
  width: 25px;
}

.navMenuClose{
  border: none;
  background-color: none;
  color: white;
}
.menuTable{
  width: 100%;
}

.closeNav{
  display: none;
}

.openNav{
  display: block;
}

/* Responsive adjustments */
@media screen and (max-width: 600px) {
  nav{
    height: 500px;
  }
  .menuTable {
    position: relative;
    margin: 50px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    width: 100%;
    max-height: 100%;
    box-shadow: 0 0 50px purple;
    backdrop-filter: blur(3px);
  }

td{ max-width: 100px;}
}

@media screen and (min-width: 600px) {
  
}
@media screen and (min-width: 768px) {
  
}
@media screen and (min-width: 992px) {

}

@media screen and (min-width: 1200px) {

}