/* Base styles */
@font-face {
  font-family: Cyber;
  src: url("https://assets.codepen.io/605876/Blender-Pro-Bold.otf");
  font-display: swap;
}

.myVideo {
  position: fixed;
  min-width: 100%;
  min-height: 100%;
}
.profileDiv{
  display: flex;
  align-items: center;
}

.pPicture {
  position:relative;
  min-width: 200px;
  height: 300px;
  padding-top: 40px;
  padding-bottom: 40px;
}

/* Responsive adjustments */
@media screen and (max-width: 620px) {
  
}
