section {
  background-color: rgba(22, 22, 26, 0.55);
  position: absolute;
  top: 70px;
  right: 300px;
  height: 800px;
  width: 600px;
  color: rgba(255, 68, 68, 0.842);
  text-shadow: 0 0 15px rgb(255, 122, 122);
}

.title {
  color: rgb(0, 247, 255);
}
