/* Base styles */
  body{
    display: flex;
    margin: 0px;
  }
  
  .navButton{ 
    margin-bottom: 25px; 
  }
  
  .navBar{
    margin: 10px;
    position: relative;
    font-size: 0.9em;
    font-family: sans-serif;
    box-shadow: 0 0 50px purple;
    backdrop-filter: blur(3px);
    padding: 12px 15px;
    text-align: left;
    display: block;
    width: 300px;
    height: 100%;
  }
  
  .navSocial{
    background-color: rgba(0, 255, 255, 0.397);
    text-align: center;
    color: aliceblue;
    display: block;
    width: 100%;
  }
  
  .navSocialIcons{
    text-decoration:none;
    margin-left: 5px;
    margin-right: 5px;
  }
  
  .navIcon{
    height: 25px;
    width: 25px;
  }
  
.closeNavButtonDiv{
  width: 100%;
}

  .navMenuClose{
    width: 100%;
    border: none;
    background-color: transparent;
    color: white;
  }
  .navMenuClose:hover{
    cursor: pointer;
    animation: hover 2s infinite;
  }

  @keyframes hover{
    0%{
      background-color: aliceblue;
    }

    100%{
      background-color: red;
    }
  }
  
  .closeNav{
    display: none;
  }
  
  .openNav{
    display: block;
  }
  
  .changeBackstoryTextSmallerScreen::after{
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin: 0px;
    content: "CHARACTER BACKSTORY_";
  }
  .changeLevelTextSmallerScreen::after{
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin:0px; 
    content: "CHARACTER LEVEL_";
  }
  
  /* Responsive adjustments */
  @media screen and (max-width: 620px) {
    nav{
      height: 500px;
    }
    
    .changeBackstoryTextSmallerScreen::after{
      margin-block-start: 0em;
      margin-block-end: 0em;
      content: "BACKSTORY_";
      margin: 0px;
    }
    .changeLevelTextSmallerScreen::after{
      margin-block-start: 0em;
      margin-block-end: 0em;
      content: "LEVEL_";
      margin:0px;
    }
  }
  